*{
    box-sizing: border-box;
}
main{
margin: auto;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 10px;
    
}
article:nth-last-of-type(1) {
    order:-1 ;
  }
  article:nth-last-of-type(2) {
    order:-1 ;
  }
  article:nth-last-of-type(3) {
    order:-1 ;
  }
  article:nth-last-of-type(4) {
    order:-1 ;
  }
  article:nth-last-of-type(5) {
    order:-1 ;
  }
  article:nth-last-of-type(6) {
    order:-1 ;
  }
article{
    flex:0 0 calc(33% - 10px);
}
img{
    width: 100%;
}