*{
    box-sizing: border-box;
}
main{
width: 80%;
margin: auto;
}
section{
    display: flex;
    justify-content: space-around;
    align-item: stretch;
    flex-flow:row wrap;
    
    align-items: flex-start;
    gap: 10px;
    flex: calc(50% - 0px);
}
article{
    display: flex;
    
    
}
img{
    width: 50%;
}