main{
width: 80%;
margin: auto;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
    flex: 0 0 calc(50%-10px);
}
img{
    width: 50%;
}