*{
    box-sizing: border-box;
}
main{
width: 80%;
margin: auto;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;
    flex: 0 0 calc(33%-10px);
    align-items: flex-start;
}
article{
    display: flex;
    
}
img{
    width: 50%;
}